<br/><br/><br/><br/><br/><br/>
<div class="container" style="background-color: #e1e1ea;">
  <div class="container form-horizontal col-sm-offset-4" >

    <%= form_for @item do |f| %>
    <div class="form-group field ">
      <div class="col-sm-2 control-label"><%= f.label :name %><br /></div>
      <div class="col-sm-4"><%= f.text_field :name %></div>
    </div>
    <div class="form-group field">
      <div class="col-sm-2 control-label"><%= f.label :price  %><br /></div>
      <div class="col-sm-4"><%= f.text_field :price  %></div>
    </div>
    <div class="form-group field">
      <div class="col-sm-2 control-label"><%= f.label :category %><br /></div>
      <div class="col-sm-4"><%= f.select :category, options_for_select(["Select One", "indian", "italian", "chinese"], :disabled => ["Select One"]) %></div>
    </div>
    <div class="form-group field">
      <div class="col-sm-2 control-label"><%= f.label :photo %><br /></div>
      <div class="col-sm-4 "><%= f.file_field :photo %></div>
    </div>
    <button id="submit" type="submit" class="btn btn-primary col-sm-1 col-sm-offset-2">Submit</button>
    <%end%>
  </div>
</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
